body {
//  color: green;
}

#content-area {

  .block-views {
    margin-bottom: 50px;

    >h2 {
      background: rebeccapurple;
      padding: 2px 5px;
      color: white;
      font-weight: normal;
    }
  }
  .views-row {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 23%;
    min-height: 600px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);

    header h2 {
      text-align: center;
      background: #eee;
      border-bottom: 1px solid #ccc;
      margin: 0;
      line-height: 30px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;

      a {
        vertical-align: middle;
      }
    }

    p {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    .media__media-category {
      display: inline-block;
      vertical-align: top;
      div {
        display: inline-block;
        vertical-align: top;
      }

      a {
        color: white;
        display: inline-block;
        vertical-align: top;
        padding: 2px 5px;
        background: cornflowerblue;
        margin: 2px 5px 0 0;

        &:hover {
          background: #557fcb;
        }
      }
    }
  }
}

#block-svideo-main-menu {

  .menu {
    position: relative;
  }
  .menu-item {
    display: inline-block;
    vertical-align: top;

    &.menu-item--expanded {
 //     background: #eeffc9;
      &:hover {
        .menu {
          display: block;
        }
      }
    }

    a {
      display: block;
      border-bottom: 1px solid #ccccff;
      vertical-align: top;
      padding: 5px 10px;
      background: cornflowerblue;
      color: white;
      font-size: 1.2em;
      margin-right: 10px;
      transition: 0.2s ease;

      &:hover {
        background: #557fcb;
      }
    }
    .menu {
      display: none;
      padding: 10px 0 0;
      position: absolute;
      top: 30px;
      z-index: 50;

      .menu-item {
        display: block;
        transition: 0.3s ease;
      }
    }

  }
}

.views_slideshow_controls_text {
  display: flex;
  justify-content: space-between;
  .views_slideshow_controls_text_pause {
    display: none;
  }
  .views_slideshow_controls_text_previous a,
  .views_slideshow_controls_text_next  a{
    display: block;
    background: mediumturquoise;
    padding: 5px 10px;
    font-size: 0;
    height: 38px;
    width: 38px;
    text-align: center;
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: inline-block;
      line-height: 40px;
      font-size: 40px;
      font-weight: bold;
      content: '>';
    }
  }
.views_slideshow_controls_text_previous a:before {
  content: '<';
}
}

.block-views-block-media-slideshow-block-feature,
.block-views-block-media-slideshow-block-slideshow {
  width: 49%;
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
}

.views_slideshow_cycle_teaser_section {
  margin: 0 auto;
}

.views-slideshow-controls-bottom {
  position: relative;
  top: -320px;
}

#block-frontmenu,
#block-mainnavigation {
  background: gray;
  margin: 10px 0;

   .menu-item {
    display: inline-block;
    vertical-align: top;

    a {
      display: block;
      padding: 5px 10px;
      margin-right: 10px;
      background: goldenrod;

      &.is-active {
        background: rebeccapurple;
        color: white;
      }
    }
  }
}

.media__media-category,
.media__media-tags {
  margin-bottom: 10px;
  >div {
    font-weight: bold;
  }
  a {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    margin: 5px;
    background: cornflowerblue;
    color: white;
  }
  div div {
    display: inline-block;
    vertical-align: top;
  }
}